<!DOCTYPE html>
<html data-ng-app="timezoneSelectExample">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Angular-timezone-select by alexcheng1982</title>
    <link rel="stylesheet" href="./bower_components/select2/dist/css/select2.css">
    <style>
      .timezone-select {
        min-width: 300px;
      }
    </style>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/lodash/dist/lodash.js"></script>
    <script src="./bower_components/select2/dist/js/select2.full.js"></script>
    <script src="./bower_components/moment/min/moment.min.js"></script>
    <script src="./bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <script src="./dist/angular-timezone-select.js"></script>
    <script type="text/javascript">
      angular.module('timezoneSelectExample', ['angular-timezone-select'])
        .controller('TimezoneSelectCtrl', ['$scope', function($scope) {
          $scope.country = 'NZ';
        }]);
    </script>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Angular-timezone-select</h1>
          <h2>Timezone select for AngularJS</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/alexcheng1982/angular-timezone-select/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/alexcheng1982/angular-timezone-select/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/alexcheng1982/angular-timezone-select" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          <h1>
<a id="timezone-select-for-angularjs" class="anchor" href="#timezone-select-for-angularjs" aria-hidden="true"><span class="octicon octicon-link"></span></a>Timezone select for AngularJS</h1>

<p>A simple AngularJS directive to create timezone select. It uses <a href="http://select2.github.io/select2/">select2</a> to create auto-complete timezone select. Timezone information comes from <a href="http://momentjs.com/timezone/">moment</a>. Countries timezone data comes from <a href="http://timezonedb.com/download">TimezoneDB</a>.</p>

<p>In the dropdown, timezones are divided into three groups:</p>

<ul>
<li>
<strong>UTC</strong> - UTC is a common option for most users.</li>
<li>
<strong>Common</strong> - Timezones for a country</li>
<li>
<strong>Other</strong> - Other timezones</li>
</ul>

<p>If the user has already selected the country, timezones for the country will be listed first, which makes easier for user to select.</p>

<h2>
<a id="install" class="anchor" href="#install" aria-hidden="true"><span class="octicon octicon-link"></span></a>Install</h2>

<p>Install <code>angular-timezone-select</code> using Bower <code>bower install angular-timezone-select</code>.</p>

<h2>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h2>

<p>Make your Angular module depend on module <code>angular-timezone-select</code>.</p>

<div class="highlight highlight-javascript"><pre>angular.module(<span class="pl-s"><span class="pl-pds">'</span>timezoneSelectExample<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>angular-timezone-select<span class="pl-pds">'</span></span>]);</pre></div>

<p>Then use directive <code>timezone-select</code>.</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">input</span> <span class="pl-e">timezone-select</span> <span class="pl-e">data-ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>timezone<span class="pl-pds">"</span></span> <span class="pl-e">country</span>=<span class="pl-s"><span class="pl-pds">"</span>country<span class="pl-pds">"</span></span>&gt;</pre></div>

<p>Attribute <code>country</code> can be used to bind user's selected country. Value of selected country should be the <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">ISO 3166-1 alpha-2</a> code, e.g. <code>CN</code>, <code>US</code>.</p>

<h2>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Example</h2>

<p>See live example below or check out <a href="example.html">example.html</a>.</p>

<div data-ng-controller="TimezoneSelectCtrl">
  Country:
  <select data-ng-model="country">
    <option value="CN">China</option>
    <option value="NZ">New Zealand</option>
    <option value="US">USA</option>
  </select>
  Timezone:
  <select class="timezone-select" timezone-select data-ng-model="timezone" country="country"></select>
  <div>Selected: {{ timezone }}</div>
</div>

        </section>

        <footer>
          Angular-timezone-select is maintained by <a href="https://github.com/alexcheng1982">alexcheng1982</a><br>
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>


      </div>
    </div>
  </body>
</html>
